<footer>
    <!-- Links & Contacto -->
    <section class="footer-links">
        <div class="row">

            <!-- Info General -->
            <div class="col-lg-6">
                <div class="foot-info">
                    <img class="foot-logo" src="./img/recursos/xatruch-footer.svg" alt="logo-footer">
                    <p>Nombres comerciales, logotipos e imágenes comerciales que aparecen en
                        nuestro sitio web son propiedad de sus respectivos dueños.</p>
                </div>
            </div>

            <!-- Soporte -->

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 info-contacto">
                        <h3> Soporte </h3>
                        <ul class="list-links">
                            <li class="syle-font">
                                <a href="/">
                                    Home
                                </a>
                            </li>
                        </ul>

                    </div>

                    <!-- Ponte en Contacto -->
                    <div class="col-lg-6 info-contacto">
                        <h3> Contactanos </h3>
                        <ul class="list-links">
                            <li class="syle-font">
                                <a href="mailto:contacto@xatruchbarbershopo.com">
                                    <img class="img-contacto" src="./img/recursos/email.png" alt="email">
                                    hola@xatruchbarber.com
                                </a>
                            </li>
                            <li class="syle-font">
                                <img class="img-contacto" src="./img/recursos/cel.png" alt="cel">
                                +504 9898 8967
                            </li>

                            <li class="syle-font">
                                <img class="img-contacto" src="./img/recursos/location.png" alt="location">
                                772 Lyonwood Ave
                                Comayagua, Honduras
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Copy (R) -->
    <section class="footer-info">
        <p>© 2022 Xatruch Barbershop. Todos los derechos reservados.</p>
    </section>

</footer>